
server:
  port: 42000
  tomcat:
    uri-encoding: utf-8

ssdb:
  host: ws.cielosun.club
  port: 32768
  host2: ws.cielosun.club
  port2: 32772
  scan-number: 10000

fdfs:
  assign-group: false
  group: group2
  dictionary-file: device.dic
  compression-level: 3
  compression: true
  trackers: ["ws.cielosun.club:22122"]
  read-timeout: 500
  connect-timeout: 3000

init:
  init-database: true
device-config:
  archive-function-id-list: [2]
time-data:
  archive-tags: ["device_2"]
  # 归档间隔，单位秒
  archive-interval: 1800
  # 缓存清理时间，单位秒
  clear-interval: 259200
  least-clear-num: 2
  save-key-in-value: false
  delete-value-together: true
device-server:
  port: 42001
spring:
  cache:
    ehcache:
      config: classpath:ehcache.xml
    type: ehcache