server:
  port: 42000
  tomcat:
    uri-encoding: utf-8

ssdb:
  host: 125.216.242.71
  port: 42870
  scan-number: 10000

fdfs:
  assign-group: false
  group: group2

init:
  init-database: true